__pycache__/
*.py[cod]
*.so

.Python
.python-version
.venv/
.venv-hooks/
venv/
env/

.mypy_cache/
.pytest_cache/
.ruff_cache/
.pyre/
.hypothesis/
.tox/
.nox/
.coverage
.coverage.*
htmlcov/

.idea/
.vscode/

out/*
!out/artifacts/
out/artifacts/*
!out/artifacts/.gitkeep
